@use "base/variables";
@use "base/mixins";

.header{
    background-color: variables.$verde;

    @include mixins.tablet {
        &.fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }

    }
       
    .contenido-header {
        padding: 2rem;
        @include mixins.tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }
    h1{
        color: variables.$blanco;
        text-align: center;
        @include mixins.tablet{
            text-align: left;
            margin: 0;

        }
    }
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include mixins.tablet {
        flex-direction: row;
    }
    
    a {
     color: variables.$blanco;
     font-size: 2.4rem;
            
        &:hover{
        color: variables.$amarillo;
        }
    }
}



